/build/_deps/glfw-build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/_deps/glfw-build/CMakeFiles/progress.marks
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/build.make
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cmake_clean.cmake
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cmake_clean_target.cmake
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cocoa_init.m.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cocoa_init.m.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cocoa_joystick.m.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cocoa_joystick.m.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cocoa_monitor.m.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cocoa_monitor.m.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cocoa_time.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cocoa_time.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cocoa_window.m.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/cocoa_window.m.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/compiler_depend.make
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/compiler_depend.ts
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/context.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/context.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/depend.make
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/DependInfo.cmake
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/egl_context.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/egl_context.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/flags.make
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/init.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/init.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/input.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/input.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/link.txt
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/monitor.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/monitor.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/nsgl_context.m.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/nsgl_context.m.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/null_init.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/null_init.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/null_joystick.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/null_joystick.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/null_monitor.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/null_monitor.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/null_window.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/null_window.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/osmesa_context.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/osmesa_context.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/platform.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/platform.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/posix_module.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/posix_module.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/posix_thread.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/posix_thread.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/progress.make
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/vulkan.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/vulkan.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/window.c.o
/build/_deps/glfw-build/src/CMakeFiles/glfw.dir/window.c.o.d
/build/_deps/glfw-build/src/CMakeFiles/update_mappings.dir/build.make
/build/_deps/glfw-build/src/CMakeFiles/update_mappings.dir/cmake_clean.cmake
/build/_deps/glfw-build/src/CMakeFiles/update_mappings.dir/compiler_depend.make
/build/_deps/glfw-build/src/CMakeFiles/update_mappings.dir/compiler_depend.ts
/build/_deps/glfw-build/src/CMakeFiles/update_mappings.dir/DependInfo.cmake
/build/_deps/glfw-build/src/CMakeFiles/update_mappings.dir/progress.make
/build/_deps/glfw-build/src/CMakeFiles/CMakeDirectoryInformation.cmake
/build/_deps/glfw-build/src/CMakeFiles/progress.marks
/build/_deps/glfw-build/src/cmake_install.cmake
/build/_deps/glfw-build/src/glfw3.pc
/build/_deps/glfw-build/src/glfw3Config.cmake
/build/_deps/glfw-build/src/glfw3ConfigVersion.cmake
/build/_deps/glfw-build/src/libglfw3.a
/build/_deps/glfw-build/src/Makefile
/build/_deps/glfw-build/cmake_install.cmake
/build/_deps/glfw-build/Makefile
/build/_deps/glfw-subbuild/CMakeFiles/4.1.1/CMakeSystem.cmake
/build/_deps/glfw-subbuild/CMakeFiles/glfw-populate.dir/build.make
/build/_deps/glfw-subbuild/CMakeFiles/glfw-populate.dir/cmake_clean.cmake
/build/_deps/glfw-subbuild/CMakeFiles/glfw-populate.dir/compiler_depend.make
/build/_deps/glfw-subbuild/CMakeFiles/glfw-populate.dir/compiler_depend.ts
/build/_deps/glfw-subbuild/CMakeFiles/glfw-populate.dir/DependInfo.cmake
/build/_deps/glfw-subbuild/CMakeFiles/glfw-populate.dir/Labels.json
/build/_deps/glfw-subbuild/CMakeFiles/glfw-populate.dir/Labels.txt
/build/_deps/glfw-subbuild/CMakeFiles/glfw-populate.dir/progress.make
/build/_deps/glfw-subbuild/CMakeFiles/cmake.check_cache
/build/_deps/glfw-subbuild/CMakeFiles/CMakeConfigureLog.yaml
/build/_deps/glfw-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
/build/_deps/glfw-subbuild/CMakeFiles/CMakeRuleHashes.txt
/build/_deps/glfw-subbuild/CMakeFiles/glfw-populate-complete
/build/_deps/glfw-subbuild/CMakeFiles/InstallScripts.json
/build/_deps/glfw-subbuild/CMakeFiles/Makefile.cmake
/build/_deps/glfw-subbuild/CMakeFiles/Makefile2
/build/_deps/glfw-subbuild/CMakeFiles/progress.marks
/build/_deps/glfw-subbuild/CMakeFiles/TargetDirectories.txt
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-build
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-configure
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-done
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-download
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-gitclone-lastrun.txt
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-gitinfo.txt
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-install
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-mkdir
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-patch
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-patch-info.txt
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-test
/build/_deps/glfw-subbuild/glfw-populate-prefix/src/glfw-populate-stamp/glfw-populate-update-info.txt
/build/_deps/glfw-subbuild/glfw-populate-prefix/tmp/glfw-populate-cfgcmd.txt
/build/_deps/glfw-subbuild/glfw-populate-prefix/tmp/glfw-populate-gitclone.cmake
/build/_deps/glfw-subbuild/glfw-populate-prefix/tmp/glfw-populate-gitupdate.cmake
/build/_deps/glfw-subbuild/glfw-populate-prefix/tmp/glfw-populate-mkdirs.cmake
/build/_deps/glfw-subbuild/cmake_install.cmake
/build/_deps/glfw-subbuild/CMakeCache.txt
/build/_deps/glfw-subbuild/CMakeLists.txt
/build/_deps/glfw-subbuild/Makefile
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/async.cpp.o
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/async.cpp.o.d
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/bundled_fmtlib_format.cpp.o
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/bundled_fmtlib_format.cpp.o.d
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/cfg.cpp.o
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/cfg.cpp.o.d
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/color_sinks.cpp.o
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/color_sinks.cpp.o.d
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/file_sinks.cpp.o
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/file_sinks.cpp.o.d
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/spdlog.cpp.o
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/spdlog.cpp.o.d
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/stdout_sinks.cpp.o
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/src/stdout_sinks.cpp.o.d
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/build.make
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/cmake_clean.cmake
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/cmake_clean_target.cmake
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/compiler_depend.make
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/compiler_depend.ts
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/depend.make
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/DependInfo.cmake
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/flags.make
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/link.txt
/build/_deps/spdlog-build/CMakeFiles/spdlog.dir/progress.make
/build/_deps/spdlog-build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/_deps/spdlog-build/CMakeFiles/progress.marks
/build/_deps/spdlog-build/cmake_install.cmake
/build/_deps/spdlog-build/libspdlog.a
/build/_deps/spdlog-build/Makefile
/build/_deps/spdlog-subbuild/CMakeFiles/4.1.1/CMakeSystem.cmake
/build/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate.dir/build.make
/build/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate.dir/cmake_clean.cmake
/build/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate.dir/compiler_depend.make
/build/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate.dir/compiler_depend.ts
/build/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate.dir/DependInfo.cmake
/build/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate.dir/Labels.json
/build/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate.dir/Labels.txt
/build/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate.dir/progress.make
/build/_deps/spdlog-subbuild/CMakeFiles/cmake.check_cache
/build/_deps/spdlog-subbuild/CMakeFiles/CMakeConfigureLog.yaml
/build/_deps/spdlog-subbuild/CMakeFiles/CMakeDirectoryInformation.cmake
/build/_deps/spdlog-subbuild/CMakeFiles/CMakeRuleHashes.txt
/build/_deps/spdlog-subbuild/CMakeFiles/InstallScripts.json
/build/_deps/spdlog-subbuild/CMakeFiles/Makefile.cmake
/build/_deps/spdlog-subbuild/CMakeFiles/Makefile2
/build/_deps/spdlog-subbuild/CMakeFiles/progress.marks
/build/_deps/spdlog-subbuild/CMakeFiles/spdlog-populate-complete
/build/_deps/spdlog-subbuild/CMakeFiles/TargetDirectories.txt
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-build
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-configure
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-done
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-download
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-gitclone-lastrun.txt
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-gitinfo.txt
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-install
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-mkdir
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-patch
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-patch-info.txt
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-test
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/src/spdlog-populate-stamp/spdlog-populate-update-info.txt
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/tmp/spdlog-populate-cfgcmd.txt
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/tmp/spdlog-populate-gitclone.cmake
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/tmp/spdlog-populate-gitupdate.cmake
/build/_deps/spdlog-subbuild/spdlog-populate-prefix/tmp/spdlog-populate-mkdirs.cmake
/build/_deps/spdlog-subbuild/cmake_install.cmake
/build/_deps/spdlog-subbuild/CMakeCache.txt
/build/_deps/spdlog-subbuild/CMakeLists.txt
/build/_deps/spdlog-subbuild/Makefile
/build/CMakeFiles/4.1.1/CompilerIdC/a.out
/build/CMakeFiles/4.1.1/CompilerIdC/apple-sdk.c
/build/CMakeFiles/4.1.1/CompilerIdC/CMakeCCompilerId.c
/build/CMakeFiles/4.1.1/CompilerIdCXX/a.out
/build/CMakeFiles/4.1.1/CompilerIdCXX/apple-sdk.cpp
/build/CMakeFiles/4.1.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/build/CMakeFiles/4.1.1/CMakeCCompiler.cmake
/build/CMakeFiles/4.1.1/CMakeCXXCompiler.cmake
/build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_C.bin
/build/CMakeFiles/4.1.1/CMakeDetermineCompilerABI_CXX.bin
/build/CMakeFiles/4.1.1/CMakeSystem.cmake
/build/CMakeFiles/ChessAnalysis.dir/src/game/calculations/Engine.cpp.o
/build/CMakeFiles/ChessAnalysis.dir/src/game/calculations/Engine.cpp.o.d
/build/CMakeFiles/ChessAnalysis.dir/src/game/helpers/ChessPosition.cpp.o
/build/CMakeFiles/ChessAnalysis.dir/src/game/helpers/ChessPosition.cpp.o.d
/build/CMakeFiles/ChessAnalysis.dir/src/game/Game.cpp.o
/build/CMakeFiles/ChessAnalysis.dir/src/game/Game.cpp.o.d
/build/CMakeFiles/ChessAnalysis.dir/src/game/GameState.cpp.o
/build/CMakeFiles/ChessAnalysis.dir/src/game/GameState.cpp.o.d
/build/CMakeFiles/ChessAnalysis.dir/src/resources/shader/Shaders.cpp.o
/build/CMakeFiles/ChessAnalysis.dir/src/resources/shader/Shaders.cpp.o.d
/build/CMakeFiles/ChessAnalysis.dir/src/Main.cpp.o
/build/CMakeFiles/ChessAnalysis.dir/src/Main.cpp.o.d
/build/CMakeFiles/ChessAnalysis.dir/build.make
/build/CMakeFiles/ChessAnalysis.dir/cmake_clean.cmake
/build/CMakeFiles/ChessAnalysis.dir/compiler_depend.make
/build/CMakeFiles/ChessAnalysis.dir/compiler_depend.ts
/build/CMakeFiles/ChessAnalysis.dir/depend.make
/build/CMakeFiles/ChessAnalysis.dir/DependInfo.cmake
/build/CMakeFiles/ChessAnalysis.dir/flags.make
/build/CMakeFiles/ChessAnalysis.dir/link.txt
/build/CMakeFiles/ChessAnalysis.dir/progress.make
/build/CMakeFiles/glad.dir/Dependencies/Glad/src/glad.c.o
/build/CMakeFiles/glad.dir/Dependencies/Glad/src/glad.c.o.d
/build/CMakeFiles/glad.dir/build.make
/build/CMakeFiles/glad.dir/cmake_clean.cmake
/build/CMakeFiles/glad.dir/cmake_clean_target.cmake
/build/CMakeFiles/glad.dir/compiler_depend.make
/build/CMakeFiles/glad.dir/compiler_depend.ts
/build/CMakeFiles/glad.dir/depend.make
/build/CMakeFiles/glad.dir/DependInfo.cmake
/build/CMakeFiles/glad.dir/flags.make
/build/CMakeFiles/glad.dir/link.txt
/build/CMakeFiles/glad.dir/progress.make
/build/CMakeFiles/cmake.check_cache
/build/CMakeFiles/CMakeConfigureLog.yaml
/build/CMakeFiles/CMakeDirectoryInformation.cmake
/build/CMakeFiles/CMakeRuleHashes.txt
/build/CMakeFiles/InstallScripts.json
/build/CMakeFiles/Makefile.cmake
/build/CMakeFiles/Makefile2
/build/CMakeFiles/progress.marks
/build/CMakeFiles/TargetDirectories.txt
/build/ChessAnalysis
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/libglad.a
/build/Makefile
